<!DOCTYPE html>
<html lang="en-US">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>

        <h1>Batalla Naval</h1>

        </br>
        </br>
        <form method="POST" action="creation">
          <%= csrf_token_field %>
          <input type="number" name="xBoard" id="xBoard" />
          <input type="number" name="yBoard" id="yBoard" />
          <button type="submit" class="btn btn-sm btn-success" id="inciar_partida">Iniciar Partida</button>
        </form>

    </body>
</html>


